.main {
  padding: 0.95rem 0;
}

.main > div:nth-of-type(2) {
  flex: 1;
}

.link {
  color: var(--mantine-color-orange-5);
  font-weight: 600;
}

.link:hover {
  text-decoration: underline;
}

.card {
  border-color: var(--mantine-color-gray-7);
}

.discordPhotoText {
  flex: 1;
}

.stockPhotoContainer {
  width: 100%;
  justify-content: center;
}

.stockPhotoContainer > img {
  height: 20rem;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay:hover {
  background-color: var(--mantine-color-gray-9);
  cursor: pointer;
  transition: 0.2s ease;
}

/* CSS to create a starry background effect in a React component */

.starryBackground {
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, var(--mantine-color-gray-8) 0%, var(--mantine-color-gray-10) 100%);
  position: relative;
}

/* Animation */
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2560px);
  }
}

/* Small stars */
.stars {
  position: absolute;
  width: 2px;
  height: 2px;
  z-index: 0;
  background: transparent;
  overflow: hidden;
  box-shadow:
    659px 966px var(--mantine-color-gray-1),
    1366px 765px var(--mantine-color-gray-1),
    2342px 1276px var(--mantine-color-gray-1),
    285px 1940px var(--mantine-color-gray-1),
    1532px 987px var(--mantine-color-gray-1),
    753px 335px var(--mantine-color-gray-1),
    156px 1703px var(--mantine-color-gray-1),
    2236px 1537px var(--mantine-color-gray-1),
    89px 563px var(--mantine-color-gray-1),
    176px 1555px var(--mantine-color-gray-1),
    1908px 811px var(--mantine-color-gray-1),
    2135px 1744px var(--mantine-color-gray-1),
    1500px 849px var(--mantine-color-gray-1),
    1826px 717px var(--mantine-color-gray-1),
    1851px 337px var(--mantine-color-gray-1),
    1291px 2092px var(--mantine-color-gray-1),
    2051px 1979px var(--mantine-color-gray-1),
    350px 935px var(--mantine-color-gray-1),
    1905px 1578px var(--mantine-color-gray-1),
    36px 507px var(--mantine-color-gray-1),
    84px 802px var(--mantine-color-gray-1),
    774px 171px var(--mantine-color-gray-1),
    1714px 1366px var(--mantine-color-gray-1),
    1247px 2058px var(--mantine-color-gray-1),
    368px 215px var(--mantine-color-gray-1),
    495px 1103px var(--mantine-color-gray-1),
    2509px 1952px var(--mantine-color-gray-1),
    299px 354px var(--mantine-color-gray-1),
    1683px 1004px var(--mantine-color-gray-1),
    634px 1114px var(--mantine-color-gray-1),
    2032px 670px var(--mantine-color-gray-1),
    1977px 651px var(--mantine-color-gray-1),
    518px 766px var(--mantine-color-gray-1),
    2093px 320px var(--mantine-color-gray-1),
    1634px 184px var(--mantine-color-gray-1),
    1116px 230px var(--mantine-color-gray-1),
    490px 770px var(--mantine-color-gray-1),
    1928px 537px var(--mantine-color-gray-1),
    2218px 173px var(--mantine-color-gray-1),
    934px 722px var(--mantine-color-gray-1),
    1954px 1938px var(--mantine-color-gray-1),
    2157px 1331px var(--mantine-color-gray-1),
    1251px 1710px var(--mantine-color-gray-1),
    1739px 131px var(--mantine-color-gray-1),
    1089px 917px var(--mantine-color-gray-1),
    665px 639px var(--mantine-color-gray-1),
    1142px 1497px var(--mantine-color-gray-1),
    627px 905px var(--mantine-color-gray-1),
    1215px 1364px var(--mantine-color-gray-1),
    1673px 1406px var(--mantine-color-gray-1),
    2211px 1133px var(--mantine-color-gray-1),
    2365px 2086px var(--mantine-color-gray-1),
    2524px 1144px var(--mantine-color-gray-1),
    2547px 629px var(--mantine-color-gray-1),
    78px 1603px var(--mantine-color-gray-1),
    419px 77px var(--mantine-color-gray-1),
    1686px 1948px var(--mantine-color-gray-1),
    1750px 1931px var(--mantine-color-gray-1),
    677px 514px var(--mantine-color-gray-1),
    469px 17px var(--mantine-color-gray-1),
    373px 976px var(--mantine-color-gray-1),
    1982px 748px var(--mantine-color-gray-1),
    1075px 2079px var(--mantine-color-gray-1),
    465px 853px var(--mantine-color-gray-1),
    767px 2155px var(--mantine-color-gray-1),
    953px 1269px var(--mantine-color-gray-1),
    597px 428px var(--mantine-color-gray-1),
    2304px 1418px var(--mantine-color-gray-1),
    683px 2071px var(--mantine-color-gray-1),
    913px 1380px var(--mantine-color-gray-1),
    1021px 1573px var(--mantine-color-gray-1),
    2139px 403px var(--mantine-color-gray-1),
    2392px 602px var(--mantine-color-gray-1),
    2025px 709px var(--mantine-color-gray-1),
    2197px 1468px var(--mantine-color-gray-1),
    1014px 1548px var(--mantine-color-gray-1),
    1646px 819px var(--mantine-color-gray-1),
    1401px 667px var(--mantine-color-gray-1),
    300px 1987px var(--mantine-color-gray-1),
    819px 1291px var(--mantine-color-gray-1),
    763px 2057px var(--mantine-color-gray-1),
    1716px 238px var(--mantine-color-gray-1),
    279px 206px var(--mantine-color-gray-1),
    105px 711px var(--mantine-color-gray-1),
    1715px 1757px var(--mantine-color-gray-1),
    522px 446px var(--mantine-color-gray-1),
    779px 717px var(--mantine-color-gray-1),
    825px 158px var(--mantine-color-gray-1),
    445px 1059px var(--mantine-color-gray-1),
    1631px 96px var(--mantine-color-gray-1),
    466px 57px var(--mantine-color-gray-1),
    993px 1046px var(--mantine-color-gray-1),
    1396px 1786px var(--mantine-color-gray-1),
    22px 1462px var(--mantine-color-gray-1),
    87px 1022px var(--mantine-color-gray-1),
    202px 126px var(--mantine-color-gray-1),
    989px 313px var(--mantine-color-gray-1),
    610px 1902px var(--mantine-color-gray-1),
    1905px 1393px var(--mantine-color-gray-1),
    719px 51px var(--mantine-color-gray-1),
    230px 636px var(--mantine-color-gray-1),
    664px 1840px var(--mantine-color-gray-1),
    1721px 1493px var(--mantine-color-gray-1),
    1932px 2105px var(--mantine-color-gray-1),
    1381px 771px var(--mantine-color-gray-1),
    2290px 669px var(--mantine-color-gray-1),
    844px 980px var(--mantine-color-gray-1),
    45px 1005px var(--mantine-color-gray-1),
    851px 33px var(--mantine-color-gray-1),
    242px 357px var(--mantine-color-gray-1),
    776px 575px var(--mantine-color-gray-1),
    2118px 1561px var(--mantine-color-gray-1),
    1799px 1217px var(--mantine-color-gray-1),
    1151px 228px var(--mantine-color-gray-1),
    1388px 1987px var(--mantine-color-gray-1),
    1164px 479px var(--mantine-color-gray-1),
    1852px 800px var(--mantine-color-gray-1),
    2412px 301px var(--mantine-color-gray-1),
    1942px 1622px var(--mantine-color-gray-1),
    1763px 45px var(--mantine-color-gray-1),
    1733px 1524px var(--mantine-color-gray-1),
    251px 2013px var(--mantine-color-gray-1),
    1684px 1254px var(--mantine-color-gray-1),
    1630px 1466px var(--mantine-color-gray-1),
    1653px 1977px var(--mantine-color-gray-1),
    2071px 1511px var(--mantine-color-gray-1),
    2507px 1349px var(--mantine-color-gray-1),
    1584px 1103px var(--mantine-color-gray-1),
    161px 2127px var(--mantine-color-gray-1),
    4px 1902px var(--mantine-color-gray-1),
    1701px 1051px var(--mantine-color-gray-1),
    1548px 529px var(--mantine-color-gray-1),
    826px 752px var(--mantine-color-gray-1),
    1169px 1505px var(--mantine-color-gray-1),
    371px 1025px var(--mantine-color-gray-1),
    1720px 595px var(--mantine-color-gray-1),
    930px 1130px var(--mantine-color-gray-1),
    1264px 1168px var(--mantine-color-gray-1),
    1502px 1174px var(--mantine-color-gray-1),
    84px 1260px var(--mantine-color-gray-1),
    577px 437px var(--mantine-color-gray-1),
    1806px 799px var(--mantine-color-gray-1),
    489px 2070px var(--mantine-color-gray-1),
    2314px 43px var(--mantine-color-gray-1),
    1778px 1504px var(--mantine-color-gray-1),
    387px 897px var(--mantine-color-gray-1),
    1444px 836px var(--mantine-color-gray-1),
    96px 185px var(--mantine-color-gray-1),
    2258px 1296px var(--mantine-color-gray-1),
    1014px 2028px var(--mantine-color-gray-1);
  animation: animStar 50s linear infinite;
}
.stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: inherit;
}

/* Medium stars */
.stars2 {
  position: absolute;
  width: 3px;
  height: 3px;
  z-index: 0;
  background: transparent;
  overflow: hidden;
  box-shadow:
    650px 788px var(--mantine-color-pink-6),
    1350px 1677px var(--mantine-color-pink-6),
    1138px 1331px var(--mantine-color-pink-6),
    1909px 2294px var(--mantine-color-pink-6),
    2140px 764px var(--mantine-color-pink-6),
    2453px 705px var(--mantine-color-pink-6),
    623px 1669px var(--mantine-color-pink-6),
    1457px 2402px var(--mantine-color-pink-6),
    586px 723px var(--mantine-color-pink-6),
    153px 2554px var(--mantine-color-pink-6),
    1290px 357px var(--mantine-color-pink-6),
    893px 1058px var(--mantine-color-pink-6),
    586px 1736px var(--mantine-color-pink-6),
    1131px 1557px var(--mantine-color-pink-6),
    403px 838px var(--mantine-color-pink-6),
    825px 2734px var(--mantine-color-pink-6),
    1420px 570px var(--mantine-color-pink-6),
    873px 1354px var(--mantine-color-pink-6),
    100px 43px var(--mantine-color-pink-6),
    1717px 980px var(--mantine-color-pink-6),
    1051px 1022px var(--mantine-color-pink-6),
    2146px 1447px var(--mantine-color-pink-6),
    1366px 490px var(--mantine-color-pink-6),
    244px 451px var(--mantine-color-pink-6),
    2385px 1910px var(--mantine-color-pink-6),
    592px 2339px var(--mantine-color-pink-6),
    1243px 673px var(--mantine-color-pink-6),
    363px 438px var(--mantine-color-pink-6),
    140px 1644px var(--mantine-color-pink-6),
    1514px 2643px var(--mantine-color-pink-6),
    1634px 469px var(--mantine-color-pink-6),
    1531px 789px var(--mantine-color-pink-6),
    1821px 101px var(--mantine-color-pink-6),
    1713px 1488px var(--mantine-color-pink-6),
    2190px 2096px var(--mantine-color-pink-6),
    2070px 986px var(--mantine-color-pink-6),
    2200px 2549px var(--mantine-color-pink-6),
    195px 1597px var(--mantine-color-pink-6),
    1697px 1598px var(--mantine-color-pink-6),
    998px 2494px var(--mantine-color-pink-6),
    117px 1026px var(--mantine-color-pink-6),
    1027px 1059px var(--mantine-color-pink-6),
    50px 1858px var(--mantine-color-pink-6),
    2097px 1959px var(--mantine-color-pink-6),
    2119px 350px var(--mantine-color-pink-6),
    2210px 2396px var(--mantine-color-pink-6),
    2307px 2669px var(--mantine-color-pink-6),
    1706px 1485px var(--mantine-color-pink-6),
    2460px 1756px var(--mantine-color-pink-6),
    824px 1141px var(--mantine-color-pink-6),
    58px 1226px var(--mantine-color-pink-6),
    1691px 2553px var(--mantine-color-pink-6),
    769px 1692px var(--mantine-color-pink-6),
    2456px 2319px var(--mantine-color-pink-6),
    1008px 2200px var(--mantine-color-pink-6),
    955px 274px var(--mantine-color-pink-6),
    1697px 157px var(--mantine-color-pink-6),
    2353px 1303px var(--mantine-color-pink-6),
    1764px 2259px var(--mantine-color-pink-6),
    1098px 1794px var(--mantine-color-pink-6),
    2382px 1676px var(--mantine-color-pink-6),
    465px 96px var(--mantine-color-pink-6),
    1110px 2641px var(--mantine-color-pink-6),
    974px 465px var(--mantine-color-pink-6),
    1022px 492px var(--mantine-color-pink-6),
    760px 531px var(--mantine-color-pink-6),
    1011px 2699px var(--mantine-color-pink-6),
    666px 1966px var(--mantine-color-pink-6),
    2062px 2294px var(--mantine-color-pink-6),
    2212px 1832px var(--mantine-color-pink-6),
    2352px 80px var(--mantine-color-pink-6),
    477px 2049px var(--mantine-color-pink-6),
    1273px 2230px var(--mantine-color-pink-6),
    2261px 1463px var(--mantine-color-pink-6),
    619px 2882px var(--mantine-color-pink-6),
    1045px 2237px var(--mantine-color-pink-6),
    1258px 434px var(--mantine-color-pink-6),
    1801px 2743px var(--mantine-color-pink-6),
    2033px 614px var(--mantine-color-pink-6),
    1684px 2496px var(--mantine-color-pink-6),
    398px 1520px var(--mantine-color-pink-6),
    1848px 986px var(--mantine-color-pink-6),
    2283px 195px var(--mantine-color-pink-6),
    584px 68px var(--mantine-color-pink-6),
    876px 1072px var(--mantine-color-pink-6),
    1289px 227px var(--mantine-color-pink-6),
    1256px 2535px var(--mantine-color-pink-6),
    1050px 2923px var(--mantine-color-pink-6),
    1492px 1263px var(--mantine-color-pink-6),
    407px 203px var(--mantine-color-pink-6),
    1133px 1320px var(--mantine-color-pink-6),
    2372px 2937px var(--mantine-color-pink-6),
    697px 1875px var(--mantine-color-pink-6),
    797px 2248px var(--mantine-color-pink-6),
    445px 881px var(--mantine-color-pink-6),
    1484px 1817px var(--mantine-color-pink-6),
    1575px 1121px var(--mantine-color-pink-6),
    2554px 1825px var(--mantine-color-pink-6),
    1522px 777px var(--mantine-color-pink-6),
    2519px 923px var(--mantine-color-pink-6);
  animation: animStar 100s linear infinite;
}
.stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: inherit;
}

/* Large stars */
.stars3 {
  position: absolute;
  width: 4px;
  height: 4px;
  z-index: 0;
  background: transparent;
  overflow: hidden;
  box-shadow:
    563px 131px var(--mantine-color-orange-5),
    1591px 2553px var(--mantine-color-orange-5),
    452px 1611px var(--mantine-color-orange-5),
    2012px 2407px var(--mantine-color-orange-5),
    1795px 1401px var(--mantine-color-orange-5),
    1473px 2549px var(--mantine-color-orange-5),
    1219px 782px var(--mantine-color-orange-5),
    2240px 2649px var(--mantine-color-orange-5),
    28px 1786px var(--mantine-color-orange-5),
    1669px 821px var(--mantine-color-orange-5),
    456px 2912px var(--mantine-color-orange-5),
    239px 1245px var(--mantine-color-orange-5),
    1571px 1649px var(--mantine-color-orange-5),
    762px 1047px var(--mantine-color-orange-5),
    87px 1900px var(--mantine-color-orange-5),
    645px 685px var(--mantine-color-orange-5),
    311px 2101px var(--mantine-color-orange-5),
    2330px 2988px var(--mantine-color-orange-5),
    594px 2924px var(--mantine-color-orange-5),
    998px 1331px var(--mantine-color-orange-5),
    122px 1452px var(--mantine-color-orange-5),
    1713px 1815px var(--mantine-color-orange-5),
    812px 2768px var(--mantine-color-orange-5),
    222px 2084px var(--mantine-color-orange-5),
    2213px 1956px var(--mantine-color-orange-5),
    2127px 44px var(--mantine-color-orange-5),
    83px 2787px var(--mantine-color-orange-5),
    92px 407px var(--mantine-color-orange-5),
    2139px 1816px var(--mantine-color-orange-5),
    535px 374px var(--mantine-color-orange-5),
    2502px 1147px var(--mantine-color-orange-5),
    1385px 218px var(--mantine-color-orange-5),
    2128px 1424px var(--mantine-color-orange-5),
    1233px 587px var(--mantine-color-orange-5),
    837px 2231px var(--mantine-color-orange-5),
    2513px 125px var(--mantine-color-orange-5),
    2121px 1643px var(--mantine-color-orange-5),
    1426px 944px var(--mantine-color-orange-5),
    1939px 410px var(--mantine-color-orange-5),
    118px 2446px var(--mantine-color-orange-5),
    1048px 1134px var(--mantine-color-orange-5),
    2209px 2654px var(--mantine-color-orange-5),
    251px 1737px var(--mantine-color-orange-5),
    530px 1178px var(--mantine-color-orange-5),
    359px 1322px var(--mantine-color-orange-5),
    1926px 1031px var(--mantine-color-orange-5),
    740px 2556px var(--mantine-color-orange-5),
    998px 2503px var(--mantine-color-orange-5),
    2352px 2873px var(--mantine-color-orange-5),
    352px 1249px var(--mantine-color-orange-5),
    1363px 289px var(--mantine-color-orange-5),
    2164px 1394px var(--mantine-color-orange-5),
    134px 1296px var(--mantine-color-orange-5),
    2022px 1841px var(--mantine-color-orange-5),
    1819px 28px var(--mantine-color-orange-5),
    2425px 2544px var(--mantine-color-orange-5),
    1648px 2470px var(--mantine-color-orange-5),
    2097px 1968px var(--mantine-color-orange-5),
    645px 1458px var(--mantine-color-orange-5),
    1420px 1015px var(--mantine-color-orange-5),
    866px 403px var(--mantine-color-orange-5),
    1171px 455px var(--mantine-color-orange-5),
    952px 1395px var(--mantine-color-orange-5),
    2464px 625px var(--mantine-color-orange-5),
    458px 54px var(--mantine-color-orange-5),
    347px 1421px var(--mantine-color-orange-5),
    125px 240px var(--mantine-color-orange-5),
    993px 1781px var(--mantine-color-orange-5),
    1253px 1066px var(--mantine-color-orange-5),
    436px 1096px var(--mantine-color-orange-5),
    5px 1700px var(--mantine-color-orange-5),
    1224px 177px var(--mantine-color-orange-5),
    2245px 616px var(--mantine-color-orange-5),
    1680px 927px var(--mantine-color-orange-5),
    2505px 3px var(--mantine-color-orange-5);
  animation: animStar 150s linear infinite;
}
.stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 4px;
  height: 4px;
  background: transparent;
  box-shadow: inherit;
}

/* Small / slow stars */
.stars4 {
  position: absolute;
  width: 1px;
  height: 1px;
  z-index: 0;
  background: transparent;
  overflow: hidden;
  box-shadow:
    2151px 1970px var(--mantine-color-gray-1),
    161px 643px var(--mantine-color-gray-1),
    1214px 794px var(--mantine-color-gray-1),
    1011px 173px var(--mantine-color-gray-1),
    702px 2495px var(--mantine-color-gray-1),
    1891px 2627px var(--mantine-color-gray-1),
    2448px 2665px var(--mantine-color-gray-1),
    1976px 1292px var(--mantine-color-gray-1),
    160px 1083px var(--mantine-color-gray-1),
    2378px 2696px var(--mantine-color-gray-1),
    2353px 2388px var(--mantine-color-gray-1),
    1319px 2123px var(--mantine-color-gray-1),
    2015px 2064px var(--mantine-color-gray-1),
    1949px 1234px var(--mantine-color-gray-1),
    123px 2826px var(--mantine-color-gray-1),
    25px 37px var(--mantine-color-gray-1),
    311px 2768px var(--mantine-color-gray-1),
    1200px 468px var(--mantine-color-gray-1),
    1534px 543px var(--mantine-color-gray-1),
    995px 2476px var(--mantine-color-gray-1),
    2206px 1876px var(--mantine-color-gray-1),
    2321px 2611px var(--mantine-color-gray-1),
    2384px 981px var(--mantine-color-gray-1),
    63px 1126px var(--mantine-color-gray-1),
    760px 1805px var(--mantine-color-gray-1),
    1372px 2802px var(--mantine-color-gray-1),
    1681px 1046px var(--mantine-color-gray-1),
    1679px 1055px var(--mantine-color-gray-1),
    1122px 456px var(--mantine-color-gray-1),
    743px 1107px var(--mantine-color-gray-1),
    264px 2473px var(--mantine-color-gray-1),
    210px 2840px var(--mantine-color-gray-1),
    671px 1955px var(--mantine-color-gray-1),
    2269px 2632px var(--mantine-color-gray-1),
    2004px 2476px var(--mantine-color-gray-1),
    364px 2955px var(--mantine-color-gray-1),
    204px 1116px var(--mantine-color-gray-1),
    1849px 1912px var(--mantine-color-gray-1),
    748px 638px var(--mantine-color-gray-1),
    2035px 1887px var(--mantine-color-gray-1),
    731px 526px var(--mantine-color-gray-1),
    1412px 1467px var(--mantine-color-gray-1),
    403px 2480px var(--mantine-color-gray-1),
    1199px 1110px var(--mantine-color-gray-1),
    100px 2077px var(--mantine-color-gray-1),
    2074px 745px var(--mantine-color-gray-1),
    609px 2895px var(--mantine-color-gray-1),
    1825px 2974px var(--mantine-color-gray-1),
    1594px 2648px var(--mantine-color-gray-1),
    769px 1880px var(--mantine-color-gray-1),
    2516px 1050px var(--mantine-color-gray-1),
    1354px 481px var(--mantine-color-gray-1),
    2028px 105px var(--mantine-color-gray-1),
    712px 2381px var(--mantine-color-gray-1),
    1991px 306px var(--mantine-color-gray-1),
    276px 2281px var(--mantine-color-gray-1),
    2039px 2074px var(--mantine-color-gray-1),
    1266px 2421px var(--mantine-color-gray-1),
    2539px 811px var(--mantine-color-gray-1),
    410px 2977px var(--mantine-color-gray-1),
    955px 2222px var(--mantine-color-gray-1),
    1310px 1795px var(--mantine-color-gray-1),
    2260px 488px var(--mantine-color-gray-1),
    2558px 416px var(--mantine-color-gray-1),
    1038px 588px var(--mantine-color-gray-1),
    1387px 420px var(--mantine-color-gray-1),
    106px 612px var(--mantine-color-gray-1),
    1188px 2587px var(--mantine-color-gray-1),
    1861px 307px var(--mantine-color-gray-1),
    154px 2288px var(--mantine-color-gray-1),
    317px 637px var(--mantine-color-gray-1),
    1389px 2288px var(--mantine-color-gray-1),
    2399px 2796px var(--mantine-color-gray-1),
    1823px 198px var(--mantine-color-gray-1),
    1356px 1246px var(--mantine-color-gray-1),
    795px 2682px var(--mantine-color-gray-1),
    1415px 1781px var(--mantine-color-gray-1),
    1486px 145px var(--mantine-color-gray-1),
    289px 721px var(--mantine-color-gray-1),
    1192px 1562px var(--mantine-color-gray-1),
    11px 2451px var(--mantine-color-gray-1),
    1059px 683px var(--mantine-color-gray-1),
    1132px 1250px var(--mantine-color-gray-1),
    1451px 193px var(--mantine-color-gray-1),
    774px 555px var(--mantine-color-gray-1),
    785px 1590px var(--mantine-color-gray-1),
    1896px 809px var(--mantine-color-gray-1),
    795px 1800px var(--mantine-color-gray-1),
    1389px 285px var(--mantine-color-gray-1),
    1397px 2788px var(--mantine-color-gray-1),
    688px 1559px var(--mantine-color-gray-1),
    2343px 1475px var(--mantine-color-gray-1),
    861px 985px var(--mantine-color-gray-1),
    1302px 98px var(--mantine-color-gray-1),
    837px 14px var(--mantine-color-gray-1),
    1758px 1501px var(--mantine-color-gray-1),
    115px 2801px var(--mantine-color-gray-1),
    1989px 1442px var(--mantine-color-gray-1),
    836px 594px var(--mantine-color-gray-1),
    566px 403px var(--mantine-color-gray-1),
    556px 429px var(--mantine-color-gray-1),
    2167px 1269px var(--mantine-color-gray-1),
    36px 808px var(--mantine-color-gray-1),
    616px 1299px var(--mantine-color-gray-1),
    2027px 2191px var(--mantine-color-gray-1),
    621px 2251px var(--mantine-color-gray-1),
    1892px 35px var(--mantine-color-gray-1),
    2502px 2526px var(--mantine-color-gray-1),
    330px 2420px var(--mantine-color-gray-1),
    1838px 405px var(--mantine-color-gray-1),
    2538px 2963px var(--mantine-color-gray-1),
    298px 607px var(--mantine-color-gray-1),
    331px 1022px var(--mantine-color-gray-1),
    1492px 2395px var(--mantine-color-gray-1),
    224px 1097px var(--mantine-color-gray-1),
    539px 843px var(--mantine-color-gray-1),
    73px 672px var(--mantine-color-gray-1),
    50px 263px var(--mantine-color-gray-1),
    932px 2801px var(--mantine-color-gray-1),
    642px 875px var(--mantine-color-gray-1),
    1061px 699px var(--mantine-color-gray-1),
    460px 1363px var(--mantine-color-gray-1),
    2512px 762px var(--mantine-color-gray-1),
    2558px 1300px var(--mantine-color-gray-1),
    1245px 158px var(--mantine-color-gray-1),
    2059px 232px var(--mantine-color-gray-1),
    721px 2903px var(--mantine-color-gray-1),
    2017px 2955px var(--mantine-color-gray-1),
    1560px 1807px var(--mantine-color-gray-1),
    609px 1371px var(--mantine-color-gray-1),
    1961px 2383px var(--mantine-color-gray-1),
    466px 2404px var(--mantine-color-gray-1),
    1454px 2856px var(--mantine-color-gray-1),
    1479px 1099px var(--mantine-color-gray-1),
    1170px 110px var(--mantine-color-gray-1),
    690px 1187px var(--mantine-color-gray-1),
    376px 849px var(--mantine-color-gray-1),
    1014px 2076px var(--mantine-color-gray-1),
    1580px 1967px var(--mantine-color-gray-1),
    823px 1630px var(--mantine-color-gray-1),
    580px 427px var(--mantine-color-gray-1),
    1836px 714px var(--mantine-color-gray-1),
    2148px 52px var(--mantine-color-gray-1),
    16px 2043px var(--mantine-color-gray-1),
    2307px 1934px var(--mantine-color-gray-1),
    1816px 2245px var(--mantine-color-gray-1),
    2102px 345px var(--mantine-color-gray-1),
    1582px 568px var(--mantine-color-gray-1),
    2047px 1543px var(--mantine-color-gray-1),
    678px 2065px var(--mantine-color-gray-1),
    1387px 1022px var(--mantine-color-gray-1),
    368px 1623px var(--mantine-color-gray-1),
    2179px 2740px var(--mantine-color-gray-1),
    1709px 352px var(--mantine-color-gray-1),
    543px 563px var(--mantine-color-gray-1),
    127px 2613px var(--mantine-color-gray-1),
    1851px 195px var(--mantine-color-gray-1),
    1434px 1130px var(--mantine-color-gray-1),
    1968px 2303px var(--mantine-color-gray-1),
    2113px 1601px var(--mantine-color-gray-1),
    286px 1542px var(--mantine-color-gray-1),
    1162px 898px var(--mantine-color-gray-1),
    2535px 2801px var(--mantine-color-gray-1),
    1799px 1071px var(--mantine-color-gray-1),
    176px 2022px var(--mantine-color-gray-1),
    1659px 1373px var(--mantine-color-gray-1),
    1343px 2432px var(--mantine-color-gray-1),
    486px 1022px var(--mantine-color-gray-1),
    1028px 1131px var(--mantine-color-gray-1),
    1004px 2427px var(--mantine-color-gray-1),
    2075px 611px var(--mantine-color-gray-1),
    2049px 946px var(--mantine-color-gray-1),
    169px 2996px var(--mantine-color-gray-1),
    14px 375px var(--mantine-color-gray-1),
    1313px 537px var(--mantine-color-gray-1),
    385px 2058px var(--mantine-color-gray-1),
    792px 2293px var(--mantine-color-gray-1),
    656px 1200px var(--mantine-color-gray-1),
    2528px 544px var(--mantine-color-gray-1),
    2218px 2032px var(--mantine-color-gray-1),
    1600px 1069px var(--mantine-color-gray-1),
    129px 2172px var(--mantine-color-gray-1),
    1856px 754px var(--mantine-color-gray-1),
    949px 1752px var(--mantine-color-gray-1),
    2172px 2131px var(--mantine-color-gray-1),
    1350px 1487px var(--mantine-color-gray-1),
    2486px 1302px var(--mantine-color-gray-1),
    1608px 310px var(--mantine-color-gray-1),
    135px 2052px var(--mantine-color-gray-1),
    843px 2782px var(--mantine-color-gray-1),
    212px 1469px var(--mantine-color-gray-1),
    2486px 694px var(--mantine-color-gray-1),
    2232px 2139px var(--mantine-color-gray-1),
    800px 103px var(--mantine-color-gray-1),
    1076px 2175px var(--mantine-color-gray-1),
    438px 2874px var(--mantine-color-gray-1),
    1691px 1677px var(--mantine-color-gray-1),
    938px 2613px var(--mantine-color-gray-1),
    974px 969px var(--mantine-color-gray-1),
    397px 78px var(--mantine-color-gray-1),
    1744px 654px var(--mantine-color-gray-1),
    716px 1994px var(--mantine-color-gray-1),
    1354px 129px var(--mantine-color-gray-1),
    1883px 614px var(--mantine-color-gray-1),
    1203px 109px var(--mantine-color-gray-1),
    648px 1450px var(--mantine-color-gray-1),
    1341px 162px var(--mantine-color-gray-1),
    1779px 2582px var(--mantine-color-gray-1),
    1505px 863px var(--mantine-color-gray-1),
    1814px 2602px var(--mantine-color-gray-1),
    774px 2386px var(--mantine-color-gray-1),
    587px 2368px var(--mantine-color-gray-1),
    1790px 2420px var(--mantine-color-gray-1),
    124px 1928px var(--mantine-color-gray-1),
    1037px 796px var(--mantine-color-gray-1),
    2552px 2661px var(--mantine-color-gray-1),
    781px 1978px var(--mantine-color-gray-1),
    1420px 83px var(--mantine-color-gray-1),
    1360px 890px var(--mantine-color-gray-1),
    149px 2142px var(--mantine-color-gray-1),
    438px 2455px var(--mantine-color-gray-1),
    609px 2918px var(--mantine-color-gray-1),
    801px 678px var(--mantine-color-gray-1),
    1333px 2635px var(--mantine-color-gray-1),
    2519px 524px var(--mantine-color-gray-1),
    949px 1257px var(--mantine-color-gray-1),
    1335px 2693px var(--mantine-color-gray-1),
    2324px 731px var(--mantine-color-gray-1),
    1905px 2295px var(--mantine-color-gray-1),
    605px 159px var(--mantine-color-gray-1),
    1489px 1675px var(--mantine-color-gray-1),
    2266px 372px var(--mantine-color-gray-1),
    1424px 1865px var(--mantine-color-gray-1),
    2506px 1665px var(--mantine-color-gray-1),
    425px 758px var(--mantine-color-gray-1),
    29px 2426px var(--mantine-color-gray-1),
    2070px 1986px var(--mantine-color-gray-1),
    625px 2721px var(--mantine-color-gray-1),
    2011px 1633px var(--mantine-color-gray-1),
    190px 903px var(--mantine-color-gray-1),
    1839px 1383px var(--mantine-color-gray-1),
    1097px 851px var(--mantine-color-gray-1),
    32px 2250px var(--mantine-color-gray-1),
    747px 2069px var(--mantine-color-gray-1),
    2242px 1018px var(--mantine-color-gray-1),
    1760px 332px var(--mantine-color-gray-1),
    502px 2532px var(--mantine-color-gray-1),
    303px 2480px var(--mantine-color-gray-1),
    602px 1879px var(--mantine-color-gray-1),
    102px 1687px var(--mantine-color-gray-1);
  animation: animStar 400s linear infinite;
}
.stars4:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: inherit;
}

.subTitle {
  font-size: 1.5rem;
  z-index: 100;
  font-weight: 600;
  text-align: center;
}

.title {
  font-size: 6rem;
  z-index: 100;
  font-weight: 800;
  text-align: center;
  margin-top: 10rem;
}

.featureTitle {
  font-size: 1.5rem;
  z-index: 100;
}

.featureSubTitle {
  font-size: 1rem;
  z-index: 100;
  font-weight: 500;
}

.featureGrid {
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 10rem;
}

.feature {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.featureContent {
  text-align: center;
  flex-direction: column;
}

/* laptop */
@media (max-width: 64em) {
  .title {
    font-size: 4rem;
  }
}

/* tablet */
@media (max-width: 48em) {
  .title {
    font-size: 3.5rem;
    margin-top: 7rem !important;
  }

  .subTitle {
    font-size: 1.25rem;
  }

  .featureGrid {
    flex-direction: column;
    margin-bottom: 7rem !important;
  }

  .featureTitle {
    font-size: 1.3rem;
  }

  .feature {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .featureContent {
    text-align: left;
  }
}

/* mobile */
@media (max-width: 30em) {
  .subTitle {
    font-size: 1.15rem !important;
  }

  .title {
    font-size: 2.5rem !important;
    margin-top: 5rem !important;
  }

  .featureGrid {
    margin-bottom: 5rem !important;
  }

  .featureTitle {
    font-size: 1.2rem;
  }
}
