.header {
  background: linear-gradient(0deg, var(--mantine-color-gray-9) 0%, var(--mantine-color-gray-10) 100%);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: var(--mantine-color-gray-10) 0px 2px 5px;
}

.link {
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  font-weight: 600;
  transition: 0.2s ease-in;
}

.link:hover {
  background-color: green;
}
