.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 0 -50vw;
}

body {
  margin: 0;
  background-color: #18191a;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

p,
a,
button,
td {
  font-weight: 500;
}

input {
  border-width: 0;
  outline: 0;
}

input:focus {
  outline: none !important;
}

button {
  border: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b0b3b8;
  opacity: 1; /* Firefox */
}

:-ms-placeholder {
  /* Internet Explorer 10-11 */
  color: #b0b3b8;
}

::-ms-placeholder {
  /* Microsoft Edge */
  color: #b0b3b8;
}
